In [1]:
import pandas as pd
import datetime as dt

In [2]:
df = pd.read_csv('soleil.csv', sep=';')
df.head(1)

        Dates  Lever Coucher   Aube Aurore
0  01/01/2013  08:45   16:48  08:06  17:27

In [3]:
df['Dates'] = pd.to_datetime(df['Dates'], dayfirst = True)

In [4]:
df.set_index('Dates', inplace = True)

In [5]:
df.shape

(3287, 4)

In [6]:
indice = []
deb_i = pd.datetime(year = 2013, month = 1, day = 1)
fin_i = pd.datetime(year = 2021, month = 11, day = 1)
cou = (fin_i - deb_i).days
for i in range(8 * cou):
    delta = dt.timedelta(hours = 3 * i)
    datum = deb_i + delta
    indice.append(datum)

<ipython-input-6-3926c26036b0>:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  deb_i = pd.datetime(year = 2013, month = 1, day = 1)
<ipython-input-6-3926c26036b0>:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  fin_i = pd.datetime(year = 2021, month = 11, day = 1)

In [7]:
len(indice)

25808

In [8]:
df = df.reindex(index = indice, method = 'ffill')

In [9]:
df

                     Lever Coucher   Aube Aurore
Dates
2013-01-01 00:00:00  08:45   16:48  08:06  17:27
2013-01-01 03:00:00  08:45   16:48  08:06  17:27
2013-01-01 06:00:00  08:45   16:48  08:06  17:27
2013-01-01 09:00:00  08:45   16:48  08:06  17:27
2013-01-01 12:00:00  08:45   16:48  08:06  17:27
...                    ...     ...    ...    ...
2021-10-31 09:00:00  07:33   17:19  06:58  17:53
2021-10-31 12:00:00  07:33   17:19  06:58  17:53
2021-10-31 15:00:00  07:33   17:19  06:58  17:53
2021-10-31 18:00:00  07:33   17:19  06:58  17:53
2021-10-31 21:00:00  07:33   17:19  06:58  17:53

[25808 rows x 4 columns]

In [10]:
df['Lever'] = pd.to_datetime(df['Lever']).dt.hour + pd.to_datetime(df['Lever']).dt.minute / 60
df['Coucher'] = pd.to_datetime(df['Coucher']).dt.hour + pd.to_datetime(df['Coucher']).dt.minute / 60
df['Aube'] = pd.to_datetime(df['Aube']).dt.hour + pd.to_datetime(df['Aube']).dt.minute / 60
df['Aurore'] = pd.to_datetime(df['Aurore']).dt.hour + pd.to_datetime(df['Aurore']).dt.minute / 60

In [11]:
df

                     Lever    Coucher      Aube     Aurore
Dates
2013-01-01 00:00:00   8.75  16.800000  8.100000  17.450000
2013-01-01 03:00:00   8.75  16.800000  8.100000  17.450000
2013-01-01 06:00:00   8.75  16.800000  8.100000  17.450000
2013-01-01 09:00:00   8.75  16.800000  8.100000  17.450000
2013-01-01 12:00:00   8.75  16.800000  8.100000  17.450000
...                    ...        ...       ...        ...
2021-10-31 09:00:00   7.55  17.316667  6.966667  17.883333
2021-10-31 12:00:00   7.55  17.316667  6.966667  17.883333
2021-10-31 15:00:00   7.55  17.316667  6.966667  17.883333
2021-10-31 18:00:00   7.55  17.316667  6.966667  17.883333
2021-10-31 21:00:00   7.55  17.316667  6.966667  17.883333

[25808 rows x 4 columns]

In [12]:
df.to_csv('../../datasource/horaires_soleil.csv', sep=';')